body {

	background: url("images/wind-river-range");
	background-size: cover;
	line-height: 1.35;
	font-family: 'Questrial', sans-serif;
}

h1{
	font-size: 140px;
	font-weight: 900;
}
	
h2 {	
	font-size: 59px;
	font-weight: 800;
}

h3 {	
	font-size: 50px;
	font-weight: 600;
}

h4 {	
	font-size: 40px;
	font-weight: 500;
}	

p, ul, li {	
	font-size: 20px;
	font-weight: 400;
}
div {
	width: 350px;
	height: 350px;
	border: 1px black;
	display: inline-block;
	margin: 20px;
}
#yellow {background: yellow}

#red{background: red}

#blue {background: blue;
align-content: right}

#heading {background: pink
width: 600px;}
