<link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' 
rel='stylesheet' type='text/css'>

body {
	background-color: #3e3c3d;
}

h1{
	font-size: 140px;
	font-family: Montserrat,Arial,sans-serif;
	line-height: 1.35;
	color:white;

}

h4{	
	font-size: 40px;
	line-height: 1.35;
	color:white;
	font-family: Montserrat,Arial,sans-serif;

}

