body {

	background-color: white;
	line-height: 1.35;
	font-family: 'Questrial', sans-serif;
}

h1{
	font-size: 140px;
font-family: 'Questrial', sans-serif;
	font-weight: 900;


}
	
h2 {	
	font-size: 59px;
	font-family: 'Questrial', sans-serif;
	font-weight: 800;

	
}

h3 {	
	font-size: 50px;
font-family: 'Questrial', sans-serif;
	font-weight: 600;

}

h4 {	
	font-size: 40px;
	font-family: 'Questrial', sans-serif;
	font-weight: 500;

}	

p, ul, li {	
	font-size: 20px;
	font-family: 'Questrial', sans-serif;
	font-weight: 400;
}
div {
	width: 150px;
	height: 150px;
	border: 1px black;
	display: inline-block;
	margin: 20px;
}
#yellow_square {background: yellow
}

#red_square{background: red}

#blue_square {background: blue}
