@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

body {
	line-height: 1.35;
	font-family: 'Playfair Display', sans-serif;
	text-align: center;
	color:#3e3c3d;
	margin: 5%;
}

header {
	padding: 20px;
}

h1{
	font-size: 100px;
	font-weight: 900;
	line-height: 150px;
}


nav {
	background-color: #ffd93d;

}

nav a {
	color:#3e3c3d;
	text-decoration: none;	
	display: block;
	font-size:30px;
	font-weight: 700;
	text-transform: uppercase;
	float: left;
	padding: 20px;
}

nav a:hover {
	color: #fff;
}

section {
	width:80%;
	background-color: #3e3c3d;

}

footer {
	background-color: #ffd93d;
	height: 100px;

}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

