@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

body {
	line-height: 1.35;
	font-family: 'Playfair Display', sans-serif;
	text-align: center;
	color:#3e3c3d;
	margin: 5%;
}

.wrapper{
	background-color:#aeaebb;
}

header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}

header h1{
	font-size: 100px;
	font-weight: 900;
	line-height: 150px;
}


nav {
	background-color: #e8c66a;
	border: 1px black solid;
	padding: 20px;
	align-items: center;
	text-decoration: none;
}

}

nav a {
	color:#3e3c3d;
	text-decoration: none;	
	display: block;
	font-size:30px;
	font-weight: 700;
	text-transform: uppercase;
	float: left;
	padding: 20px;
}

nav a:hover {
	color: #fff;
}

div, section {
	background-color: #FFE2B8;
	border: 1px black solid;


}

aside {
	background-color: #ffc675;
	border: 1px black solid;
	padding: 20px;
	display: block;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

footer {
	background-color: #ffd93d;
	border: 1px black solid;
	height: 50px;
	width:100%;
	color:#FF957E;
	font-size:20px;
	display:block;
	text-align:right;
	line-height: 50px;
	margin-right: 5px;

}

#one {
	float: left;
}

#two {
	float: right;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

