@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

body {
	line-height: 1.35;
	font-family: 'Playfair Display', sans-serif;
	text-align: center;
	color:#3e3c3d;
}

.wrapper {
	padding: 5% 5% 0 5%;
}

header {

	padding: 20px 50px 50px 50px;
	border-top: 24px #ffd93d solid;
	border-bottom: 24px #ffd93d solid;

}

header h1{
	font-size: 100px;
	font-weight: 900;
	line-height: 150px;
}


nav {
	align-items: left;
	text-decoration: none;
	display: block;


}


nav a {
	color:#3e3c3d;
	text-decoration: none;	
	display: block;
	font-size:30px;
	font-weight: 700;
	text-transform: uppercase;
	float: left;
	padding: 20px;
}

nav a:hover {
	color: #ffd93d;
	background-color: #3e3c3d;
}

section {
	display: block;
}


}



#two_column {

    border: 1px black solid;
    padding: 20px;
}

#left {

 
    padding: 20px;
    float: left;
    width: 20%;
    height: 360px;
    margin:2.5% 0 2.5% 0;
}

#right {

    border: 5px #3e3c3d solid;
    padding: 20px;
    float: right;   
    width: 67.5%;
    height: 360px;
    margin: 2.5% 0 2.5% 0;
}

footer {
	background-color: #ffd93d;
	height: 50px;
	color:#3e3c3d;
	font-size:20px;
	display:block;
	text-align:right;
	line-height: 50px;
	padding-right: 5px;


}

#one {
	float: left;
}

#two {
	float: right;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

