@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

body {
	line-height: 1.35;
	font-family: 'Playfair Display', sans-serif;
	text-align: center;
	color:#3e3c3d;
	margin: 5%;
}

header {
background-color: #ffed74;
border: 1px black solid;
padding: 20px;
}

nav {
background-color: #e8c66a;
border: 1px black solid;
padding: 20px;
}

aside {
background-color: #ffc675;
border: 1px black solid;
padding: 20px;
}

article {
background-color: #e89c6c;
border: 1px black solid;
padding: 20px;
}

footer {
background-color: #ff957e;
border: 1px black solid;
padding: 20px;
}

div, section {
background-color: #FFE2B8
border: 1px black solid;
padding: 20px;
}


h1{
	font-size: 100px;
	font-weight: 900;
}
	
h2 {	
	font-size: 59px;
	font-weight: 400;
}

a {
	font-size:30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 50px;
	vertical-align: middle;
	line-height: 60px;
}

.picture {
	width:350px;
	height:350px;
	margin:20px;
	padding: 20px;
}

#menu {
	width: 90%;
	height: 60px;
	border: 1px black dotted;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 50px;
}


#c2me-app > div > div > div > header > div > 
#c2me-app > div > div > div > main > div > div.c2me-banner > div.c2me-banner__content > div.signup-form > form > button
#c2me-app > div > div > div > footer
#c2me-app > div > div > div > main > div > div.c2me-home__banner > div > div.c2me-banner__content > div > a:nth-child(1)