@import url('https://fonts.googleapis.com/css?family=Chicle');

body {

	background: url(images/wind-river-range.jpg);
	background-size: cover;
	line-height: 1.35;
	font-family: 'Chicle', sans-serif;
	text-align: center;
}

h1{
	font-size: 140px;
	font-weight: 900;
}
	
h2 {	
	font-size: 59px;
	font-weight: 800;
}

div {
	width: 350px;
	height: 350px;
	border: 1px black;
	display: inline-block;
	margin: 20px;
}

