body {

	background: white;
	line-height: 1.35;
	font-family: 'Questrial', sans-serif;
	text-align: center;
}

h1{
	font-size: 140px;
	font-weight: 900;
}
	
h2 {	
	font-size: 59px;
	font-weight: 800;
}

div {
	width: 350px;
	height: 350px;
	border: 1px black;
	display: inline-block;
	margin: 20px;
}
#wind1 {background: url(images/wind-river-range.jpg)}

#wind2 {background: url(images/wind-river-range-campsite.jpg)}

#wind3 {background: url(images/wind-river-range-sitting-by-a-rock.jpg);
align-content: right}
